
body {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-right: 30px;

  }
  
  body h1 {
    font-size: 90px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    color: darkgrey;
  }
  
  body button {
    font-size: 20px;
    background-color: darkgrey;
    color: #fff;
    padding: 10px 20px;
    border: 3;
    border-color: black;
    border-style: double;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  #head-game{
    margin: 200px, 30px;
  }

  h1 {
    animation-duration: 3s;
    animation-name: slidein;
    
  }
  
  @keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }
  
 